<%= form_for participant, remote: true do |f| %>
  <div class="col-md-3">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field(:name,  required: true, class: 'form-control') %>
  </div>
  <div class="col-md-3">
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.label :phone, class: "control-label" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="col-md-3">
    </br>
    <%= f.submit 'Save', class: "btn btn-primary btn-wide btn-inline-form btn-sm" %>
  </div>
<% end %>
