<!DOCTYPE html>
<html>
  <head>
    <title>ParticipantPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'gem_no_bg' %>
  </head>

  <body>
    <%= render '/components/logged_in_nav' %>
    <%= yield %>
  </body>
</html>
